@font-face {
    font-family: "MuseoSans";
    font-weight: 500;
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans";
    font-weight: 900;
    src: url("../fonts/MuseoSansRegular/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans";
    font-weight: 700;
    src: url("../fonts/MuseoSansRegular/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
}

html {
    font-family: 'MuseoSans', sans-serif;
}

.large-container {

    max-width: 1440px;
    font-size: 0;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.container{
    max-width: 1166px;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}



header{
    position: relative;
}

/*----------------------SELECT-----------------------------*/

.select{
    display: inline-block;
    height: 40px;
    cursor: pointer;
    /*width: 100%;*/
}

.select__field{
    height: 40px;
    width: 86px;
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
}

.select__field:after{
    content: url(../assets/svg/cart_arrow.svg);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.select__value{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #262626;
}

.select__multiselect{
    position: absolute;
    top: 40px;
    visibility: hidden;
}

.unhide{
    visibility: visible;
}

.select__multiselect li{
    display: block;
    width: 100%;
    padding: 0 15px;
    height: 30px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
    line-height: 27px;
}



/*------------------------------------HEADER_LINE------------------------------------*/

.header-line{
    background-color: #17191A;
}

.header__row{
    margin-left: -12px;
    margin-right: -12px;
}

.header__row a:hover,
.header-menu a:hover{
    opacity: .7;
}

.header-line__punkt {
    font-size: 0.75rem;
    display: inline-block;
    padding: 12px 12px;
    color: #9DABB2;
}


.header-line__punkt_work,
.header-line__punkt_info{
    padding-left: 17px;
    padding-right: 17px;
    vertical-align: middle;
}

.header-line__punkt_country{
    position: relative;
    padding-left: 27px;
    padding-right: 4px;
    vertical-align: middle;
}

.header-line__punkt_country span,
.header-line__punkt_curency span {
    border-bottom: 1px dotted #3f4448;
}

.header-line__punkt_curency span{
    vertical-align: -webkit-baseline-middle;
}

.header-line__punkt:before {
    padding-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

.header-line__punkt_delivery:before {
    content: url(../assets/svg/truck.svg);
}

.header-line__punkt_return:before {
    content: url(../assets/svg/returns.svg);
}

.header-line__punkt_faq:before {
    content: url("../assets/svg/faq.svg");
}

.header-line__punkt_contact-us:before {
    content: url("../assets/svg/contact_us.svg");
}

.header-line__punkt_country:before {
    content: url("../assets/svg/flag_Ukarine.svg");
    position: absolute;
    left: 0;
    bottom: 10px;
}

/*------------------------------------HEADER-----------------------------------------*/

.header{
    background-color: #222526;
    padding: 18px 0 25px 0;
}

.header__punkt {
    font-size: 1rem;
    padding: 12px 12px;
}

.header__punkt_login {
    content: url("../assets/svg/sign_in.svg");

}

.header__punkt_login:hover {

}

.header__punkt_search {
    content: url("../assets/svg/search.svg");
}

.header__punkt_logo {
    content: url("../assets/svg/logo.svg");
}

.header__punkt_favorit {
    content: url("../assets/svg/favorits.svg");
}

.header__punkt_cart {
    content: url("../assets/svg/shop.svg");
}

.header-menu li {
    display: inline-block;
}

.header-menu li:last-child {
    padding-right: 0;
}

.header-menu {
    padding-top: 18px;
    text-align: center;
}

.header-menu__punkt {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #fff;
    padding: 22px 17px;
}

.dropdown{
    background-color: #fff;
    text-align: left;
    position: absolute;
    width: 100%;
    left: -9999px;
    top: 175px;
    padding-bottom: 55px;
    z-index:99;
    transition: 0.5s;
}

.dropdown li{
    display: block;
}

.dropdown li:last-child{
    padding-bottom: 10px;
}

.dropdown h3{
    font-size: 0.875rem;
    color: #262626;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.dropdown li a{
    font-size: 0.75rem;
    color: #7D7D7D;
    line-height: 24px;
}

.dropdown .product{
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown .product__type{
    padding: 15px 0;
}

.dropdown .product__name{
    font-size: 0.875rem;
}

.dropdown li a:hover{
    opacity:0.7;
}

.header-menu__punkt__cloths:hover + .dropdown,
.dropdown:hover{
    left: 0;
}


/*---------------------------------------------MAIN-----------------------------------*/


/*---------------------------------------SLIDER-------------------------------*/

.slider{
    padding-bottom: 30px;
    position: relative;
    box-sizing: border-box;
    height:572px;
}

.slider__image{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider__image_1{
    background-image: url("../assets/slider/slider-2.jpg");
    z-index: -2;

}

.slider__image_2{
    background-image: url("../assets/slider/slider-2.jpg");
    z-index: -1;
}

.slider__text{
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__text h1{
    color: #fff;
    font-size: 1rem;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.slider__text span{
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/*-------------------------------------------GOODS--------------------------*/

.goods{
    display: block;
    text-align: center;
}

.goods h2,
.blog h2{
    font-size: 2rem;
    color: #262626;
    padding-bottom: 25px;
    padding-top: 10px;
}

.goods-list{
    position: relative;
    font-size: 2rem;
}

.product{
    padding-bottom: 15px;
    padding-top: 15px;
    vertical-align: top;
}

.product__image__box{
    position: relative;
}

.product__image{
    display: block;
    position: relative;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.product__image:hover{
    filter: none;
}

.product__image__box{
    overflow: hidden;
}

.product__image__box:hover .product__image__button{
    opacity: 1;
    transform: translateY(0);
}

.product__type{
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #9DABB2;
    padding: 20px 0;
}

.product__name{
    display: block;
    font-size: 1rem;
    color: #505659;
}

.product__price__block{
    font-size: 0;
    padding-top: 15px;
}

.priduct__price,
.product__price__curency,
.product__price-old,
.product__price-old__curency{
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    color: #262626;
}

.product__price-old,
.product__price-old__curency {
    font-size: 0.75rem;
    text-decoration: line-through;
}

.product__price-old__curency{
    padding-right: 10px;
}

.product__price__curency:before,
.product__price-old__curency:before,
.cart__product-curency:before,
.cart__product-curency__total:before{
    content: "1";
    visibility: hidden;
}

.product__image__button{
    position: absolute;
    width: 100%;
    bottom: 15px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s;
    z-index: 5
}

.product__button{
    vertical-align: bottom;
    height: 56px;
    width: 45%;
    background-color: #fff;
    border: none;
    font-size: 0.75rem;
    color: #9DABB2;
    cursor: pointer;
    display: inline-block;
    outline: none;
    transition: all 0.3s;
}

.product__button:hover{
    background-color: #9DABB2;
    color: #fff;
}

.product__image__button:hover + .product__image{
    filter: none;
}

.product__button-left{
    bottom: 15px;
    left: 15px;
}

.product__button-right{
    bottom: 15px;
    right: 15px;
}

.btn__switch{
    position: absolute;
    padding: 4px 8px;
    border: none;
    opacity: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
    border: 12px;
    outline: none;
}

@media (max-width: 992px){
    .btn__switch{
        display: none;
    }
}

.btn__switch:hover{
    opacity:0.5;
}

.btn__switch-next{
    top: 184px;
    right: -32px;
}

.btn__switch-previous{
    top: 184px;
    left: -32px;
    transform: rotate(180deg);
}

.btn__switch:before{
    content: url("../assets/svg/btn-next.svg");
}

.btn__switch-next-rev{
    top: 50%;
    right: -57px;
}

.btn__switch-previous-rev{
    transform: rotate(180deg);
    top: 50%;
    left: -57px;
}


.product-hot{
    position: relative;
}


.product-hot__image__text-bl{
    position: absolute;
    bottom: 32px;
    left: 32px;
    text-align: left;
}

.product-hot__image__text-bl span{
    color: #fff;
}


.product-hot__image__text-bl .product__type{
    padding-bottom: 25px;
}

.text__bl-long > .product__name,
.text__bl-long > .product__price__block,
.text__bl-long > .product__price__block span{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.text__bl-long > .product__name:after{
    content: ' 	—';
}

.text__bl-long .product__price__curency:before{
    content: '';
}

/*-------------------------------------------INFO-BLOX-------------------------------*/

.banners{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.box{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

.box img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.8s;
    transition-timing-function: ease-in-out;
}

.box:hover img{
    transform: scale(0.9);
    filter: none;
}

.box-1x1{
    max-height: 206px;
    max-width: 356px;
}

.box-1x2{
    max-width: 356px;
    max-height: 416px;
}

.box-2x2{
    max-width: 744px;
    max-height: 416px;
}

.box-3x1{
    max-width: 1136px;
    max-height: 415px;
}



.box__text,
.box__text-big{
    position: absolute;
    color: #fff;
}

.box__text-center,
.box__text-sale{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.box__text p {
    font-size: 10px;
}

.box__text h2 {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box__text-big p{
    font-size: 1rem;
}

.box__text-big h2{
    font-size: 3.5rem;
    padding-top: 15px;
}

.box__text-bottom-left{
    position: absolute;
    text-align: left;
    top: 82%;
    left: 5%;
    transition: 0.8s;
    transition-timing-function: ease-in-out;
}

.box:hover .box__text-bottom-left{
    top: 79%;
    left: 8%;
}

.box__text-sale p{
    font-size: 0.625rem;
}

.box__text-sale h2{
    font-size: 2rem;
}

.box__text-sale span{
    font-size: 3rem;
    font-weight: bold;
}

/*--------------------------BLOG-----------------------------*/

.blog{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.card{
    filter: grayscale(100%);
    transition: filter 0.3s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card:hover{
    filter: none;
}

.card__image img{
    max-height: 224px;
    max-width: 356px;
    height: 100%;
    width: 100%;
    }

.card__text{
    display: inline-block;
    max-width: 356px;
    text-align: left;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px;
    box-shadow: 0 6px 20px rgba(157, 171, 179, 0.2);
}

.card__text span{
    display: block;
    font-size: 0.625rem;
    color: #9DABB2;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.card__text h3{
    font-size: 1rem;
    color: #505659;
    padding-bottom: 20px;
}

.card__text p{
    font-size: 0.875rem;
    color: #505659;
    line-height: 22px;
    max-height: 87px;
    overflow: hidden;
}

/*-----------------------------REVIEWS--------------------------*/

.review{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.review .container,
.text-section .container{
    position: relative;
    padding: 0 30px;
}
.user-foto{
    display: inline-block;
    background-image: url(../assets/avatar/ava-foto.png);
    background-repeat:no-repeat;
    max-width: 390px;
    width: 100%;
    height: 332px;
    box-shadow: 0 16px 40px rgba(67,73,77,0.2);
    transform: translateX(16px);
}

.user-review{
    display: inline-block;
    vertical-align: top;
    max-width: 714px;
    width: 100%;
    transform: translateX(-16px);
}

.user{
    padding-bottom: 45px;
    padding-top: 45px;
    }

.user-avatar{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../assets/avatar/ava-small.jpg");
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: 75px;
}

.user-info{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;

}

.user-review span{
    font-size: 0.625rem;
    color: #9DABB2;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 16px;
}

.user-review h2{
    font-size: 1.5rem;
    color: #262626;
    line-height: 32px;
    padding-top: 10px;
}

.user-name:after{
    content: ', ';
}

.user-source{
    position: absolute;
    right: 0;
}

.user-text{
    display: inline-block;
    max-width: 714px;
    width: 100%;
    padding: 45px 75px;
    box-shadow: 0 6px 20px rgba(157,171,179,0.2);
}

.user-text p{
    font-size: 0.875rem;
    line-height: 22px;
    color: #505659;
    padding-bottom: 25px;
}

.user-text a{
    font-size: 0.875rem;
    color: #262626;
    font-weight: 700;
    transition: 0.3s;
}

.user-text a:hover{
    opacity:0.7;
}



/*-------------------------------TEXT_SECTION------------------------------*/

.about-shop{
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: left;
}

.text-section ul{
    column-count: 2;
    column-gap: 30px;
}

.text-section  a{
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: #505659;
    transition: all 0.3s;
}

.text-section  a:hover{
    opacity: 0.7;
}

.text-section__titel{
    font-size: 1rem;
    padding-bottom: 20px;
    color: #505659;
}

.text-section__text{
    position: relative;
    font-size: 0.875rem;
    color: #505659;
    line-height: 22px;
    max-height: 132px;
    overflow: hidden;
}

.text-section__text:before{
    content:"";
    display:block;
    position: absolute;
    top:30px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}

/*------------------------------SOCIALS----------------------------------*/

.socials{
    background-color: #EEEEEE;
    padding-bottom: 45px;
    padding-top: 45px;
    margin-top: 35px;
}




.social__block{
    background-color: #fff;
    height: 240px;
    padding: 65px;
}

.social__block h2{
    font-size: 1.5rem;
    color: #505659;
    padding-bottom: 35px;
}

.social__block li{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    /*background-color: #17191A;*/
    margin: 0 15px;
    border-radius: 50%;
    overflow: hidden;
}

.social__block i{
    position: absolute;
    font-size: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    color: #fff;
    background-color: #17191A;
    transition: 0.3s;
}

.social__block i:hover{
    color: #17191A;
    background-color: #fff;
}

.subscribe{
    padding-bottom: 10px;
    border-bottom:1px solid #bebebe;
}

.inputMail{
    width: 100%;
    max-width: 376px;
    height: 36px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #9DABB2;
}

.social__block:nth-child(2){
    padding-left: 15px;
}

.subscribe input::placeholder{
    opacity: 1; transition: opacity 1s ease;
    color: #bebebe;
}

.subscribe input:focus::placeholder{
    opacity: 0; transition: opacity 1s ease;
}

.btn-subscribe{
    height: 36px;
    width: 112px;
    background-color: #9DABB2;
    font-size: 0.625rem;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: none;
    vertical-align: top;
    transition: all 0.3s;
}

.btn-subscribe:hover{
    background-color: #fff;
    color: #9DABB2;
    border-color: #9DABB2;
}

/*------------------------------------FOOTER-------------------------------------*/

.footer{
    background-color: #222526;
    height: 100%;
    padding: 30px 0;
}

.footer__block{

    font-size: 0.75rem;
    line-height: 16px;
}

.footer__block h2{
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 30px;
}

.footer__block a{
    color: #9DABB2;
}

.footer__block a:hover{
    opacity: 0.7;
}

.footer__block-info img{
    padding-top: 10px;
    padding-bottom: 22px;
}

.footer__block-info p{
    color: #5b686c;
}



.footer__block-brand ul{
    width: 210px;
    column-count: 2;
}

.footer__block-contacts-phone{
    display: block;
    font-weight: bold;
    padding-bottom: 30px;
}

.footer__block-contacts a:first-child{
    color: #fff;
}

.footer__block-contacts-adress{
    font-style: unset;
    display: block;
    color: #9DABB2;
}

.footer__block-contacts-mail{
    display: block;
    text-decoration: underline;
    padding-bottom: 15px;
}

.btn-ask{
    max-width: 282px;
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #bebebe;
    text-transform: uppercase;
    font-size: 0.625rem;
    transition: 0.3s;
}

.btn-ask:hover{
    background-color: #bebebe;
    color: #fff;
    border-color: #bebebe;
}

/*------------------------FOOTER_LINE--------------------------------------*/

.footer-line{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #17191A;
}

.footer-line__text{
    font-size:0.525rem;
    line-height: 12px;
    color: #393E40;
    text-align: center;
}

/*--------------------------------CATALOG----------------------------------*/

.breadcrumbs{
    padding-top: 30px;
    padding-bottom: 15px;

}

.breadcrumbs a{
    font-size: 0.75rem;
    color: #9DABB2;
}

.breadcrumbs li{
    display: inline-block;
    position: relative;
    padding-right: 20px;
}

.breadcrumbs li:before{
    content: url("../assets/svg/breadcrumbs.svg");
    position: absolute;
    left: -13px;
    bottom: 2px;
}

.breadcrumbs li:first-child:before{
    content: ' ';
}

.order__breadcrumbs{
    text-align: center;
    padding: 65px 0;
}

.order__breadcrumbs a{
    font-size: 1.5rem;
    line-height: 32px;
}

.order__breadcrumbs li{
    padding-right: 40px;
}

.order__breadcrumbs li:before{
    left: -23px;
    bottom: 8px;
}

.breadcrumbs__active a{
    color: #262626;
}

/*-----------------------------------------------------------------*/

.catalog__about{
    padding-bottom: 20px;
    padding-top: 8px;
}

.catalog__about h1{
    font-size: 2.25rem;
    color: #262626;
    font-weight:700;
    padding-bottom: 25px;
}

.catalog__about p{
    font-size: 0.875rem;
    color: #9DABB2;
    line-height: 24px;
}

/*-----------------------------------SIDEBAR-------------------------------------*/

.result{
    display:block;
    padding-bottom: 20px;
    font-weight: inherit;
}

.result:last-child{
    padding-bottom: 0;
}

.result-box{
    padding: 15px 10px;
    background-color: rgba(157, 171, 179, 0.1);
}

.result-box span{
    font-size: 0.625rem;
    color: #505659;
    font-weight:900;
    text-transform: uppercase;
    padding-bottom: 25px;
    display: block;
}

.result span{
    font-size: 0.75rem;
    color: rgba(157,171,178,0.5);
    padding-bottom: 10px;
    display: block;
    text-transform: none;
    font-weight:inherit;
}


.result-list li{
    display: inline-block;
    position: relative;
    font-size: 0.75rem;
    color: #fff;
    font-weight:700;
    padding: 10px;
    padding-right: 42px;
    background-color: #9DABB2;
    margin-right: 12px;
    overflow: hidden;
}

.result-list li:first-child{
    margin-left: 0;
}

.btn__cancel{
    height: 32px;
    width: 32px;
    background-color: rgba(0,0,0,0.3);
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.btn__cancel:before{
    content: url("../assets/svg/cancel.svg");
}

.sidebar input[disabled], .sidebar input[disabled] + label{
    opacity: 0.3;
    cursor: not-allowed;
}

.sidebar h3{
    font-size: 0.75rem;
    color: #262626;
    text-transform: uppercase;
    font-weight: 900;
}

.sidebar__category ,
.sidebar__brand,
.sidebar__size{
    display: block;
    padding-top: 40px;
}

.sidebar__color,
.sidebar__seazon,
.sidebar__price{
    display: block;
    padding-top: 25px;
}

.sidebar__category h3,
.sidebar__color h3,
.sidebar__seazon h3,
.sidebar__size h3{
    padding-bottom: 15px;
    border-bottom:1px solid #eee;
}

.sidebar__category a{
    font-size: 0.75rem;
    color: #505659;
    line-height: 28px;
}

.sidebar__category ul,
.sidebar__brand ul,
.sidebar__color ul,
.sidebar__seazon ul,
.sidebar__size ul{
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidebar__category li{
    position: relative;
}

.category__total-items{
    position: absolute;
    right: 0;
    font-size: 0.625rem;
    color: #9DABB2;
}

.btn__sidebar{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgba(38,38,38,0.5);
    font-size: 0.625rem;
    color: #262626;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.btn__sidebar:hover{
    background-color:#262626;
    color: #fff;
}

/*------------------------------------------SIDEBAR__BRAND---------------------*/

.sidebar__brand h3{
    padding-bottom: 15px;
}
.inputBrand{
    width: 100%;
    height: 40px;
    outline: none;
}

.searchBrand input::placeholder{
    opacity: 1; transition: opacity 1s ease;
    color: rgba(80, 86, 89 ,0.2);
    text-transform: uppercase;
    padding-left: 15px;
    font-size:0.625rem;
    font-weight: 900;
}

.searchBrand input:focus::placeholder{
    opacity: 0; transition: opacity 1s ease;
}

.sidebar__brand li{
    line-height: 24px;
    position: relative;
    padding-bottom: 8px;
}

.checkbox__brand:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: solid 1px #d6d6d6;
}

.checkbox__brand:not(checked) + label:after {
    content: url("../assets/svg/Path 3.svg");
    position: absolute;
    top: -5px;
    left: 5px;
    opacity: 0;
    transition: all .5s;
}

.checkbox__brand:checked + label:after{
    opacity: 1;
}

/*--------------------------------------PRICE-----------------------------------*/

.sidebar__price h3{
    padding-bottom: 20px;
}

.sidebar__price-scale{
    position: relative;
    background-color: rgba(157,172,179,0.5);
    display: block;
    width: 240px;
    height: 2px;
    margin-bottom: 25px;
}

.sidebar__price-min,
.sidebar__price-max{
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 2px solid #505659;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar__price-min{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
}

.sidebar__price-max{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
}

.inputPrice-min,
.inputPrice-max{
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.inputPrice-min input,
.inputPrice-max input{
    display: inline-block;
    padding-left: 15px;
    width: 112px;
    height: 34px;
    font-size: 0.75rem;
    color: #505659;
    border:1px solid rgba(157,171,178,0.5);
    outline: none;
}

.inputPrice-curency{
    display: inline-block;
    height: 36px;
    position: absolute;
    left: 66px;
    width: 46px;
    background-color: rgba(157,171,179,0.1);
    font-size: 0.5rem;
    color: #9DABB2;
}

.inputPrice-curency span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.inputPrice-max{
    margin-left: 17px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; margin:0;}

/*-------------------------------------------SIDEBAR__SIZE--------------------------------*/

.sidebar__size li{
    display: inline-block;
    position: relative;
    padding-right: 12px;
    padding-bottom: 12px;
}

.checkbox__size-control{
    display: inline-block;
}

.checkbox__size-control input{
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
}
.checkbox__size{
    position: relative;
    width: 42px;
    height: 34px;
    text-align: center;
    border: 1px solid #9DABB2;
    opacity: 0.3;
    font-size: 0.625rem;
    font-weight: 900;
    transition: all .5s;
    text-transform: uppercase;
}

.checkbox__size__small{
    width: 36px;
}

.checkbox__size span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.checkbox__size-control input:checked ~ .checkbox__size{
    opacity: 1;
}

/*----------------------------SIDEBAR__COLOR------------------------------------*/

.sidebar__color label,
.sidebar__seazon label,
.sidebar__brand label{
    font-size: 0.75rem;
    color: #505659;
    line-height: 24px;

}

.checkbox + label {
    cursor: pointer;
}

.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative;
    padding-left: 32px;
}

.checkbox__color:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: solid 1px transparent;
    background: #fff;
    opacity: 0.3;
    transition: all .5s;
}

.checkbox__color:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 12px;
    height: 12px;
    opacity: 0.3;
    transition: all .5s;
}

.color__blue-sat:not(checked) + label:after{
    background-color: #251EC6;
}

.color__blue-sat:not(checked) + label:before{
    border-color: #251EC6;
}

.color__pink:not(checked) + label:after{
    background-color: #C61EBB;
}

.color__pink:not(checked) + label:before{
    border-color: #C61EBB;
}

.color__red:not(checked) + label:after{
    background-color: #C61E41;
}

.color__red:not(checked) + label:before{
    border-color: #C61E41;
}


.checkbox__color:checked + label:before,
.checkbox__color:checked + label:after{
    opacity: 1;
}

/*-----------------------------------------CHECKBOX__SEAZON-------------------*/

.sidebar__seazon{
    padding-bottom: 40px;
}

.checkbox__seazon:not(checked) + label:before{
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: solid 1px #9DACB4;
    border-radius: 50%;
    background: #fff;
    opacity: 0.3;
    transition: all .5s;
}

.checkbox__seazon:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0.3;
    transition: all .5s;
    background-color: #262626;
}

.checkbox__seazon:checked + label:before,
.checkbox__seazon:checked + label:after{
    opacity: 1;
}



/*----------------------------------------------SORT-----------------------------------*/


.catalog__sort{
    font-size: 0.625rem;
    font-weight: 900;
    color: #1D1D1D;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}

.catalog__sort select{
    border:none;
    font-size: 0.625rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #8C9BA3;
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    outline: none;
}

.catalog__sort option{
    border: none;
}

.sort-list{
    position: relative;
    display: inline-block;
    width:126px;
}

.sort-list:before{
    content: url("../assets/svg/breadcrumbs.svg");
    position: absolute;
    right:0;
    z-index: -1;
    transform: rotate(90deg);
}

.catalog__item-show{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.catalog__item-show .sort-list{
    width: 82px;
}

/*---------------------------------PAGINATION----------------------------------*/

.pagination{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 15px;
}

.pagination a{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 0.625rem;
    color: #262626;
    font-weight: 900;
    padding: 12px 15px;
    border: 1px solid #9DABB2;
    margin: 0 12px;
    opacity: 0.3;
    transition: 0.3s;
}

.pagination a:active,
.pagination a:hover{
    opacity: 1;
}

a.pagination__prev,
a.pagination__next{
    border: none;
}

a.pagination__prev{
    transform: rotate(180deg);
}

.pagination__next:before,
.pagination__prev:before{
    content: url("../assets/svg/pagination.svg");
}

/*----------------------------------CART-----------------------------*/

.cart{
    display: block;
    padding: 50px 0;
}

.cart h2{
    font-size: 1.5rem;
    color: #262626;
    line-height: 32px;
    padding: 15px 0;

}

.cart h3{
    font-size: 0.625rem;
    line-height: 16px;
    font-weight: 900;
    color: #262626;
    text-transform: uppercase;
    padding: 15px 0;
}

.underline{
    display: inline-block;
    height: 1px;
    background-color: #eee;
    width: 100%;
    margin: 10px 0;
}

.cart__product{
    display: inline-block;
    width: 100%;
    padding: 25px 0;
}

.cart__product-image{
    display: inline-block;
    padding-right: 15px;
}

.cart__product figcaption{
    display: inline-block;
    padding: 0 15px;
    width: 55%;
    vertical-align: top;
}

.cart__product-name{
    display: block;
    font-size: 0.875rem;
    color: #505659;
    line-height: 20px;
    padding-bottom: 15px;
}

.cart__product-type{
    display: block;
    font-size: 0.625rem;
    color: #9DABB2;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.cart__product-remove{
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.cart__product-remove button,
.promocode__action button{
    border: none;
    background: none;
    font-size: 0.75rem;
    line-height: 16px;
    color: #9DABB2;
    text-decoration: underline dotted;
    cursor: pointer;
    padding-top: 15px;
}

.cart__product-size{
    font-size: 0.75rem;
    color: #505659;
    text-transform: uppercase;
}

.cart__product-price,
.cart__product-curency{
    font-size: 1rem;
    color: #505659;
    line-height: 20px;
}

.cart__product-price__total,
.cart__product-curency__total{
    font-size: 1rem;
    color: #262626;
    line-height: 20px;
    font-weight: 700;
}

.cart__product-count{
    font-size: 0.75rem;
    line-height: 37px;
    width: 98px;
    height: 40px;
    padding-left: 12px;
    border: 1px solid rgba(157, 171,178, 0.5);
    cursor: pointer;
    position: relative;
}

.product-count-more,
.product-count-less{
    position: absolute;
    border: none;
    width: 32px;
    height: 20px;
    left: 81px;
    background-color: rgba(157,171,179,0.1);
    cursor: pointer;
}

.product-count-more{
    top: 0;
    transform: rotate(180deg);
}

.product-count-less{
    top: 20px;
}

.product-count-more:before,
.product-count-less:before{
    content: url(../assets/svg/cart_arrow.svg);
}

/*---------------------------------------CART__PAYMENT-------------------------*/

.cart__payment{
    display: inline-block;
    width: 391px;
    font-size: 1rem;
    line-height: 24px;
    color: #505659;
    position: relative;
}

.cart__payment li{
    position: relative;
}

.cart__payment li,
.cart__payment-total,
.cart__payment-delivery{
    font-size: 0.875rem;
}

.cart__payment-total,
.cart__payment-to-pay{
    font-weight: 900;
}

.cart__payment-to-pay{
    color: #262626;
}

.cart__payment-total,
.cart__payment-to-pay,
.cart__payment-delivery{
    position: absolute;
    right: 0;
}

.cart__payment-buttons{
    display: inline-block;
}

.btn__cart{
    width: 214px;
    height: 48px;
    display: block;
    margin-top: 15px;
    margin-left: 45px;
    font-size: 0.625rem;
    font-weight: 900;
    text-transform: uppercase;
}

.btn__cart-shoping{
    background-color: #fff;
    border-color: rgba(38,38,38, 0.5);
    color: #262626;
}

.btn__cart-checkout{
    background-color: #262626;
    border-color: #262626;
    color: #fff;
}


/*------------------------ORDERING----------------------------*/

.order__header{
    width: 100%;
    height: 96px;
    background-color: #222526;
    text-align: center;
}

.order__header:before{
    content: url(../assets/svg/logo.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------ORDER-------------------------------*/

.order__main{
    background-color: rgba(157,171,179, 0.1);
}

.order__container{
    width: 100%;
    max-width: 812px;
    margin-left: auto;
    margin-right: auto;
}

.order__blank{
    background-color: #fff;
    padding: 65px;
}

.order__blank h2,
.order__blank h3{
    font-size: 1rem;
    line-height: 24px;
    color: #262626;
    padding-bottom: 30px;
}

.order__blank h3{
    padding-bottom: 15px;
}

.order__blank p{
    font-size: 0.75rem;
    line-height: 20px;
    color: #505659;
}

.order__blank span{
    display: block;
    padding-bottom: 5px;
    font-size: 0.625rem;
    color: #262626;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.order__blank-section{
    padding: 30px 0;
}

.order__blank-section:first-child{
    padding-top: 0;
    padding-bottom: 5px;
}

.order__blank-comment textarea{
    height: 120px;
    width: 100%;
    border: 1px solid #eee;
}

.blank-section__input input{
    width: 100%;
    height: 40px;
    border: 1px solid #9DABB2;
    padding: 15px;
    outline: none;
}

.blank-section__input,
.blank-section__select{
    display: inline-block;
    max-width: 325px;
    width: 100%;
    padding-bottom: 25px;
}

.blank-section-row{
    display: flex;
    justify-content: space-between;
}

.order__select__field{
    position: relative;
    width: 325px;
    height: 40px;
    border: 1px solid #9DABB2;
    padding: 15px;
    outline: none;
}

.order__select__field input{
    border: none;
    outline: none;
    width: 86%;
}

.order__delivery li{
    position: relative;
    padding-left: 35px;
    padding-bottom: 30px;
}

.order__delivery li:last-child{
    padding-bottom: 0;
}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.radio + label {
    cursor: pointer;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -35px;
    width: 20px;
    height: 20px;
    border: 1px solid #9DACB3;
    opacity: 0.2;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -29px;
    left: -28px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #262626;
    opacity: 0;
    transition: all .2s;
}

.radio__pay{
    font-size: 0.875rem;
    line-height:24px;
    color: #505659;
}

.order__pay li{
    position: relative;
    padding-bottom: 15px;
    padding-left: 35px;
}

.order__pay li:last-child{
    padding-bottom: 0;
}

.radio__pay:not(checked) + label:before{
    top: 0;
}

.radio__pay:not(checked) + label:after{
    top: 7px;
}

.radio:focus + label:before,
.radio:checked + label:after {
    opacity: 1;
}

